@model Vidly.ViewModels.NewCustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name,new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @* quella che segue si puo' utilizzare in alternativa a DataAnnotations (che si trova nella definizione della classe Customer) *@
        @*<label for="BirthDate">Date of Birth</label>*@
        @Html.TextBoxFor(m => m.Customer.BirthDate,new {@class = "form-control"})
    </div>
    <div class="checkbox">
        <label>
            @* N.B: per i css di bootstrap vai a getbootstrap.com/css *@
            @Html.CheckBoxFor(m => m.Customer.IsSuscribedToNewsLetter) Suscribed to Newsletter?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId,new SelectList(Model.MembershipTypes,"Id","Name"),"Select Membership Type", new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}